@{
    ViewBag.Title = "Income Expenditure Report";
    Layout = "~/Views/Shared/_LayoutUcasportfolio.cshtml";
}
<style>
    .bordercss {
        border: 3px double #CCCCCC;
        color: black;
    }

        .bordercss:focus {
            box-shadow: 0 0 5px rgba(81, 203, 238, 1);
            border: 2px solid rgba(81, 203, 238, 1);
        }
</style>


<script type="text/javascript">

    $(document).ready(function () {
        //   CheckOffcLevel();
        $("#loading").hide();


        $("#txtFromDt").on("change", function () {
            var fromDate = $("#txtFromDt").val();
            $("#txtToDt").datepicker('option', { minDate: fromDate });
        });
        $("#txtToDt").on("change", function () {
            var toDate = $("#txtToDt").val();
            $("#txtFromDt").datepicker('option', { maxDate: toDate });
        });

        $("#btnView").click(function (e) {
            e.preventDefault();

            var from_date = $("#txtFromDt").val();

            var url = '/AccIncExpReport/GenerateIncExpReport?rptslnx=1&from_date=' + from_date;

            window.open(url);
            // }
        });
    });
</script>

@using (Html.BeginForm("Index", "AccIncExpReport", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left", id = "AccIncExpReportForm" }))
{
    @Html.AntiForgeryToken()
    <div class="page-title">
        <div class="title_left PageHeader" style="width:90%;">
            <h3 style="color: white;padding:2px">&nbsp;&nbsp;Income Expenditure Report</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="item form-group">
                        @Html.Label("Date From", new { @class = "control-label col-md-2" })
                        <div class="col-md-4 col-sm-6 col-xs-12">

                            @Html.Editor("TrxDate", new { htmlAttributes = new { @class = "form-control  DateInput check-date", @ID = "txtFromDt" } })

                            @*@Html.TextBox(" ", ViewData["TrxDate"], new { @ID = "txtFromDt", @class = "form-control DateInputRpt" })*@
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <input type="submit" value="View" class="btn btn-primary" id="btnView" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

